.main-content{
    padding-top: 60px;
}

.button-show-more{
    margin-top: 20px;
}

.label{
    display: inline-block;
    margin-bottom: .5rem;
}

#mon_profil > div{
    margin-bottom: 10px;
}

#mon_profil input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#Retourner{
    margin-left: 5px;
}
